div[class^="category-title-header"] {
  .category-title-contents {
    color: var(--secondary, $secondary);
    .category-title {
      font-size: 1.7em;
      .category-icon-widget {
        .category-icon {
	  .d-icon {
            height: 1.7em;
            width: 1.7em;
	    color: var(--secondary, $secondary);
	  }	  
	}
      }
    }
  }
}
.category-list {
  .category-icon {
    color: var(--primary-high, $primary-high) !important;
  }
}
