div[class^="category-title-header"] {
  .category-title-contents {
    color: var(--secondary, $secondary);
    .category-icon-widget {
      .category-icon {
        .d-icon {
          width: 1.7em !important;
          height: 1.7em !important;
          color: var(--secondary, $secondary);
        }
      }
    }
  }
}
.category-list {
  .category-icon { 
    color: var(--primary-high, $primary-high) !important;
}
